name: 'CI'
on:
  push:
    branches:
      - main
      - release/**
  pull_request:

# Cancel in progress workflows on pull_requests.
# https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-a-fallback-value
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: Build & Test (Linux)
    runs-on: ubuntu-20.04
    steps:
      - name: Check out current commit
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Lint source files
        run: pnpm lint

      - name: Run tests
        run: pnpm test

  tes-windows:
    name: Build & Test (Windows)
    runs-on: windows-latest
    steps:
      - name: Check out current commit
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run tests
        run: pnpm test

  artifacts:
    name: Pack & Upload Artifacts
    runs-on: ubuntu-20.04
    needs: test
    if: ${{ startsWith(github.ref, 'refs/heads/release/') }}
    steps:
      - name: Check out current commit
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Pack
        run: pnpm pack

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}
          path: |
            ${{ github.workspace }}/*.tgz
